html {
    font-family: "Droid Sans Mono", "monospace", monospace;
}

body {
    margin: 0;
    background-color: black;
    color: white;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: center;
    max-width: 500px;
    padding: 10px;
}

a {
    color: #1F618D;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    color: #2E86C1;
}

.comment {
    color: #9a9b99;
}